*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.team-section{
    padding: 3rem;
    text-align: center;
}

.grid{
    display: flex;
    /*grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));*/
    flex-direction: column;
    gap: 4rem;
}

.team-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
    margin-top: 1.5rem;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  
}


.card {
    background: #f9f9f9;
    padding: 1.5rem;
    border-radius: 12px;
    transition: transform 0.2s ease;
  }

.card:hover {
    transform: translateY(-5px);
  }

.card img {
    width: 100%;
    border-radius: 8px;
  }

.card h3 {
    margin-top: 1rem;
  }
  
.card p {
    color: #666;
  }

.gallery-section {
    padding: 3rem;
    text-align: center;
  }
  
.gallery-section img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
  
    max-width: 1100px;
    margin: 2rem auto;
  }
  
  .gallery-item {
    background: #f9f9f9;
    padding: 4rem;
    border-radius: 12px;
  }
  
  .gallery-item img {
    width: 100%;
    border-radius: 8px;
    display: block;
  }

  .img-container{
    position: relative;
    text-align: center;
    color: white;

  }

  .center{
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: fantasy;
  }

  .afg-img{
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.8;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    background-color: rgb(57, 91, 57);
    justify-content: center;
  }
  


  ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }

  ul li a:hover {
    background-color: rgb(44, 69, 44);;
  }

  .desc{
    display: flex;
    justify-content: center;
    padding: 3rem;
    background-color: rgb(57, 91, 57);

  }

  .desc-writing{
    font-weight: bold;
    font-family: fantasy;
    background-color:  rgb(162, 143, 43);
    width: 50%;
    color: white;
    width: 50%;
    padding: 1.5rem;
    border-radius: 20px;
    
  }
  