*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  .img-container{
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 49rem;

  }

  .center{
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: fantasy;
  }

  .afg-img{
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.8;
    object-fit: fill;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    background-color: rgb(57, 91, 57);
    justify-content: center;
  }
  


  ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }

  ul li a:hover {
    background-color: rgb(44, 69, 44);;
  }

  .desc{
    display: flex;
    justify-content: center;
    padding: 3rem;
    background-color: rgb(57, 91, 57);

  }

  .desc-writing{
    font-weight: bold;
    font-family: fantasy;
    background-color:  rgb(162, 143, 43);
    width: 50%;
    color: white;
    width: 50%;
    padding: 1.5rem;
    border-radius: 20px;
    
  }

  .meet{
    margin-bottom: 2%;
    font-size: 2.5em;
  }

  .about{
    /*background-color: rgb(131, 161, 131);*/
  }
  
  .flex-display{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 5% 2%;
  }

  .cards{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 10%;

  }

  .cards-gallery{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
    border-radius: 10%;

  }

  .cards:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container{
    padding: 5px 16px;
  }

  .container-gallery{
    text-align: center;
    padding: 5px;

  }

  .team{
    text-align: center;
    padding: 2%;
  }

  .team-name{
    padding-bottom: 2%;
  }



  .flex-display-about{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 5% 2%;
  }

 

  
 