.team-section{
    padding: 3rem;
    text-align: center;
}

.grid{
    display: flex;
    /*grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));*/
    flex-direction: column;
    gap: 4rem;
}

.team-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
    margin-top: 1.5rem;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  
}


.card {
    background: #f9f9f9;
    padding: 1.5rem;
    border-radius: 12px;
    transition: transform 0.2s ease;
  }

.card:hover {
    transform: translateY(-5px);
  }

.card img {
    width: 100%;
    border-radius: 8px;
  }

.card h3 {
    margin-top: 1rem;
  }
  
.card p {
    color: #666;
  }

.gallery-section {
    padding: 3rem;
    text-align: center;
  }
  
.gallery-section img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
  
    max-width: 1100px;
    margin: 2rem auto;
  }
  
  .gallery-item {
    background: #f9f9f9;
    padding: 4rem;
    border-radius: 12px;
  }
  
  .gallery-item img {
    width: 100%;
    border-radius: 8px;
    display: block;
  }
  
  