*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}


  .img-container{
    position: relative;
    text-align: center;
    color: black;
    width: 100%;
    height: 100vh;

  }

  .center{
    font-size: 3em;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-family: fantasy;
    color: white;
  }

  .home-links{
    top: 50%;
    left: 50%;
    transform: translate(0%, -130%);

  }

  .afg-img{
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.8;
    object-fit: fill;
  }
  

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    background-color: rgb(57, 91, 57);
    justify-content: center;
  }
  


  ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }

  ul li a:hover {
    background-color: rgb(44, 69, 44);;
  }

  .desc{
    display: flex;
    justify-content: center;
    padding: 3rem;
    background-color: rgb(57, 91, 57);

  }

  .desc-writing{
    font-weight: bold;
    font-family: fantasy;
    background-color:  rgb(162, 143, 43);
    width: 50%;
    color: white;
    width: 50%;
    padding: 1.5rem;
    border-radius: 20px;
    
  }



  .img-container-2{
    width: 100%;
    height: 16.5rem;
    overflow: hidden;
  }

  
 
  .cards{
    box-shadow: 20px 20px 10px 1px rgba(0,0,0,0.2);
    transition: 0.3s;
    /*width: 20%;
    height: 100%;*/
    border-radius: 10%;
    flex: 1 1 22%;
  min-width: 180px;   /* only a safety floor */
  max-width: 260px; 
  background-color: white;
  }


  .cards:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container{
    padding: 5px 16px;
  }

  .container-gallery{
    text-align: center;
    padding: 5px;

  }

  .team{
    text-align: center;
    padding: 2%;
   
  }

  

  .team-name{
    padding-bottom: 3%;
    flex-basis: 100%;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
    font-size: 2.5em;
    font-weight: bolder;
    font-family: fantasy;



  }

  .flex-display{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5%;
  }

  .flex-display-about{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5%;
   
  }

  .flex-display-1{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 0%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    
    }
  .flex-display-2{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 0%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
   
    }


  
  

 

  .presidents{
    margin-bottom: 2%;
    
  }

  .vice{
    margin-bottom: 2%;

  }

  .admin{
    margin-bottom: 2%;

  }

  .market{
    margin-bottom: 2%;

  }
  .events-cult{
    margin-bottom: 2%;

  }

 

  .flex-display-about,
  .flex-display-1,
  .flex-display-2 {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
  }
  


 

  
 